@{
    Layout = "_GuestLayout";
}
@model HotelMVCPrototype.Models.Room

<div class="room-title">
    <img src="/images/ornament.png" class="ornament left" alt="">
    <span class="room-text">Room @Model.Number</span>
    <img src="/images/ornament.png" class="ornament right" alt="">
</div>

<div class="card-collection">
    <a asp-action="Index" asp-controller="GuestOrders" asp-route-roomId="@Model.Id" class="room-card">
        <div class="card-inner">
            <img src="~/images/order-menu.png" alt="Food" class="card-image">

            <div class="card-text">
                Order Food & Drinks
            </div>
        </div>
    </a>

    <a asp-action="Index" asp-controller="GuestRequests" asp-route-roomId="@Model.Id" class="room-card">
        <div class="card-inner">
            <img src="~/images/request-service.png" alt="Services" class="card-image">

            <div class="card-text">
                Request Service
            </div>
        </div>
    </a>
</div>

<!-- DND Toggle -->
<div class="action-cards">
    <partial name="_DndToggle" model="Model" />

    @* Change this *@
    <a asp-action="Index"
       asp-controller="GuestRequests"
       asp-route-roomId="@Model.Id"
       class="card-link">

        <div class="report-card">
            <div class="dnd-text">Report</div>
        </div>

    </a>
</div>

