<form asp-action="PlaceOrder" method="post">
    <input type="hidden" name="roomId" value="@ViewBag.RoomId" />

    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>
                        <input type="number" name="items[@item.Id]" value="0" min="0" class="form-control" style="width:70px;" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Order</button>
</form>
