@{
    ViewData["Title"] = "Create / Edit Page";
}
@model Room

<div class="text-center">
    <h1 class="display-4">Create or Edit a room</h1>
</div>

<form asp-action="CreateEditRoomForm">
    <input hidden class="form-control" type="number" placeholder="0" asp-for="ID" />

    <label class="mt-4">Type</label>
    <input class="form-control" type="text" placeholder="Room type" asp-for="Type" />

    <label class="mt-4">Number</label>
    <input class="form-control" type="number" placeholder="Room Number" asp-for="Number" />

    <label class="mt-4">Price</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Price" step="0.01" />

    <button class="btn btn-primary mt-4" type="submit">Add</button>
</form>
