@{
    ViewData["Title"] = "Expenses Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-action="RoomView" asp-controller="Home">Rooms</a>
    <a class="btn btn-dark" asp-action="CreateEditRoom" asp-controller="Home">Create/Edit</a>
</div>
