services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "DemoStrong!12345"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  web:
    build: .
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__DefaultConnection: "Server=db;Database=aspnet-HotelMVCPrototype-1c91712c-bd2c-449f-a3ac-9a05752a103e;User Id=sa;Password=DemoStrong!12345;TrustServerCertificate=True;Encrypt=False;"
    ports:
      - "8080:8080"

volumes:
  sql_data:
